%Light{
    font-family: "FuturaLightC";
    font-weight: 300; 
}

%Regular{
    font-family: "FuturaBookC";
    font-weight: 400;
}

%Medium{
    font-family: "FuturaMediumC";
    font-weight: 500;
}

%Number{
    font-family: "mr_PotraLightG";
    font-weight: 300;
}